<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1006470478656-2pc4hn9ffaiqtakk7klp5dns40bji1e6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6EYngs_22ANs_zcEnSALctILO6CdNbAE</string>
	<key>GCM_SENDER_ID</key>
	<string>1006470478656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unicode</string>
	<key>PROJECT_ID</key>
	<string>chat-app-dd158</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-dd158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006470478656:ios:8a5a2b5e018ee14f4dd8a5</string>
</dict>
</plist>